<md-sidenav-container>
  <md-sidenav #extranav mode="side"></md-sidenav>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side">
    <div *ngIf="current_lead; else noLeadSelected">

      <md-card class="lead-detail-card">
        <p>{{current_lead.data.name}}</p>
        <p>{{current_lead.data.address}}</p>
        <p>{{current_lead.data.phone}}</p>
        <p>{{current_lead.data.email}}</p>
      </md-card>

      <md-card class="event-detail-container">
        <event-detail *ngIf="current_event" [data]="current_event.data"></event-detail>
      </md-card>

      <md-card class="events-container">
        <event *ngFor="let e of current_lead.getEvents()" [data]="e" (eventFocus)="selectEvent($event)"></event>
      </md-card>

    </div>
    <ng-template #noLeadSelected>
      <md-card>
        <p>Select a lead to begin</p>
      </md-card>
    </ng-template>
  </md-sidenav>

  <div class="top-nav">
    <md-card class="top-nav-card">

      <md-icon *ngIf="!sidenav.opened; else closedButton" class="icon-button" (click)="toggleSideNav()">
        chevron_right
      </md-icon>
      <ng-template #closedButton>
        <md-icon class="icon-button" (click)="toggleSideNav()">
          chevron_left
        </md-icon>
      </ng-template>
    </md-card>
  </div>

  <div *ngFor="let lead of getLeads()" class="center-nav">
    <lead [data]="lead" (leadFocus)="selectLead($event)"></lead>
  </div>

</md-sidenav-container>
</md-sidenav-container>
