md-grid-tile {
  background: lightblue;
}

.main-container {
  height: 100%;
}

md-sidenav {
  width: 400px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.12);
}

md-sidenav.large {
  width: 50%;
}

md-sidenav > div {
  height: 100%;
  display: flex;
  flex-flow: column;
}

md-sidenav-container {
  height: 100%;
}

.icon-button {
  cursor: pointer;
}

.events-container {
  height: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
